/* topmenu.module.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap');

.menucontainer {
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif; /* Apply Lato font */
}

.logoimg {
    margin-left: 2vw;
    margin-top: 1.5vh;
    height: 50%;
    width: auto;
}

.itemcontainer {
    width: 120px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Lato', sans-serif; /* Ensure Lato font */
    font-size: 14px; /* Increase font size for better readability */
    color: gray;
    text-transform: uppercase; /* Optional: adds uppercase styling */
}

.itemcontainer a {
    color: gray; /* Ensure links inside itemcontainer have the same color */
    text-decoration: none; /* Remove underline from links */
    font-weight: 600; /* Optional: make the font bold */
}

.itemcontainer:hover {
    color: black; /* Change color on hover if needed */
}

.signinRegister {
    position: absolute;
    right: 0;
    display: flex;
    items-center: center;
   
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 14px;
    space-x-4: 4px;
}

.signinLink
{
    padding-right: 2vw;
    padding-top: 1.5vh;
    font-family: 'Lato', sans-serif; /* Ensure Lato font is applied to Sign-In and Register */
    color: gray; /* Default color for the links */
    text-decoration: none; /* Remove underline */
  
}
.registerLink {
   
    padding-top: 1.5vh;
    font-family: 'Lato', sans-serif; /* Ensure Lato font is applied to Sign-In and Register */
    color: gray; /* Default color for the links */
    text-decoration: none; /* Remove underline */
  
}

.signinLink:hover,
.registerLink:hover {
    color: black; /* Color on hover */
}

.signedInText {
    padding-right: 2vw;
    padding-top: 1.5vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #00B5E2; /* Cyan color for signed-in text */
    padding: 10px 2rem;
}

.adminRole {
    margin-left: 1rem;
    font-weight: 600;
    color: gold;
}
